<html>
  <head>
    <link rel = "icon" href ="static/272-2727045_length-icon-length-icon.png" type = "image/x-icon">

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4262679090363387"
     crossorigin="anonymous"></script>

    <title>Weather forecast</title>
  </head>
<body>
  <link rel="stylesheet" href="{{ url_for('static',filename='home_style.css')}}" type="text/css">
<ul>
  <h3>Weather forecast</h3>
</ul>
<center>
<div>
<form action="/result" method="post"> 
  <label for="location" name='location'>Location</label><br>
  <input name="location" type="text" id="location"><br>
  <input type="submit" value="Submit" id='button'>
<br/><br/>
<br/><br/>
<br/><br/>
</div>
</center>    
</form>
<center><img src="static/t-tp-7998-when-weather-spinner-activity-_ver_1.jpg"></center>
<p>
<b>How can we predict the weather?</b><br/>
Measuring the weather is called weather observation. That sounds quite easy – anyone can observe the weather just by looking out of the window! But how do we predict weather so that we can make forecasts? And how do we do it accurately and in detail?
<br/>
Meteorologists measure all the different parts of the weather and put them together. They use special weather instruments to measure and record the four elements of weather. This helps them to predict what the weather will be like. Below we have listed the ways that different elements of the weather are measured.
<br/>
<b>Temperature</b><br/>
Measuring temperature is quite easy: it only takes a thermometer. In the past, we used mercury in our thermometers, but mercury is a very dangerous substance. Nowadays, digital thermometers are used to measure temperature.
<br/>
<b>Humidity</b><br/>
Humidity is the amount of water vapour in the air. It is measured by measuring the temperature of a thermometer with its end wrapped in a damp cloth. This is then compared to a normal thermometer. After doing some calculations, we can work out the humidity.
<br/>
<b>Wind</b><br/>
We measure wind direction and wind speed. Wind direction can be measured with a weather vane. It show us where the wind has come from, which can tell us a lot about the weather. Wind from the north tends to be quite cold, while wind from the south is warmer.
<br/>
To measure wind speed, an anemometer is used. This spins to show how fast the wind is moving.
<br/>
<b>Visibility</b><br/>
Visibility is the distance that we can see without binoculars or other assistance. When it is foggy, the visibility can be very low.
<br/>
We measure our visibility by using our eyes. We look out for points that are a set distance away and see which are very clear. Sometimes, lasers are used for better accuracy.
<br/>
<b>Rain</b><br/>
Rain accumulation is the amount of rain reaching the ground over a period of time. It is measured using rain gauges that capture rain.
Rain rate is the amount of rain falling out of the sky, as well as its speed. We can use radar to estimate the rain rate.
<br/>
<b>Pressure</b><br/>
The air pressure can tell us what type of weather to expect. With high pressure, we normally expect clear skies and light winds. But when the pressure is low, the weather is often wet and windy. Pressure is measured with a barometer, which has different bubbles to show the air pressure.
<br/>
These are the main factors that we use to forecast the weather!
<br/>
<b>How does climate change affect the weather?</b><br/>
Climate change means that we’re likely to experience extreme weather conditions more often, such as heatwaves, floods, and storms. The hotter weather associated with climate change can have serious consequences.
<br/>
For example, in the Arctic, the increased temperatures have led to the polar ice caps melting, which has serious effects on the animals and people who live there.
<br/>
Extreme weather around the world
In the UK, we are fortunate to mostly have quite temperate weather. This means weather that doesn't get too hot or too cold. Although you may feel like it rains a lot, the rain is spread out across the year rather than all falling in a couple of months, like during monsoon seasons in other parts of the world. We also don't experience very many extreme weather events, although parts of the country do suffer with flooding, especially in winter.
<br/>
As climate change continues to develop across the world, it is likely that we will begin to experience more extreme weather in the UK. This includes hotter summers, more flooding, and loss of our coastline.


</P>
<div id="ftr">
<ul>
  <p>This is created by Thiyagarajan Copyrights <script>document.write( new Date().getFullYear() );</script></p>
</ul>
</div>
</body>
</html>
